html,body{
	background: #fff;
}
.tag_box{
	width: 100%;
	height: 52px;
}
.tags{
	height: 52px;
	padding-top: 30px;
	box-sizing: border-box;
	border-bottom: 1px solid #ececec;
	font-size: 14px;
	color: #5c5c5c;
}
.curr_content {
	width: 100%;
	height: 550px;
	border-radius: 20px;
	margin-top: 30px;
	background-color: #ffffff;
	box-shadow: 0px 0px 15px 1px 
		rgba(0, 0, 0, 0.1);
}
.curr_content .curr_video{
	height: 450px;
	border-radius: 20px 20px 0px 0px;
	position: relative;
}
.curr_content .curr_video img{
	border-radius: 20px 20px 0px 0px;
}
.mask{
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .8);
	border-radius: 20px 20px 0px 0px;
	position: absolute;
	top: 0;
	left: 0;
}
.mask > div{
	float: left;
	width: 50%;
	height: 100%;
	text-align: center;
	padding-top: 165px;
}
.mask > div:first-child{
	position: relative;
}
.mask > div:last-child{
	text-align: left;
}
.mask > div:first-child:after{
	content: '';
	width: 2px;
	height: 300px;
	background-color: rgba(255, 255, 255, 0.2);
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}
.mask img{
	margin-bottom: 20px;
}
.mask p{
	font-size: 18px;
	line-height: 28px;
	color: #ffffff;
}

.curr_bottom{
	width: 100%;
	padding: 26px 60px 26px 40px;
	box-sizing: border-box;
}
.curr_bottom .b_item{
	width: 50%;
	float: left;
}
.curr_bottom .b_item > div{
	float: left;
	height: 48px;
	line-height: 48px;
	font-size: 18px;
	color: #666666;
}
.left_data{

}
.left_time{
	margin-left: 50px;
}
.curr_bottom .right_box > div{
	float: right;
}
.curr_bottom .b_item .price{
	font-size: 28px;
	color: #ff0000;
	margin-right: 66px;
}
.curr_bottom .b_item .buy_btn{
	width: 120px;
	height: 48px;
	background-color: #ff9900;
	border-radius: 6px;
	font-size: 16px;
	color: #fffefe;
	text-align: center;
	cursor: pointer;
}


.container_box{
	margin-top: 54px;
	position: relative;
}
.container_box:after{
	content: "";
	width: 1200px;
	height: 1px;
	background-color: #ececec;
	position: absolute;
	top: 40px;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}
.container_box > div > div{
	float: left;
}
.left_content{
	width: 66%;
}
.container_box .tab_box{
	width: 100%;
	height: 40px;
	/* border-bottom: 1px solid #ececec; */
}
.container_box .tab_box .ul_box{
	width: 100%;
	height: 100%;
}
.container_box .tab_box .ul_box li{
	float: left;
	margin-right: 80px;
	font-size: 18px;
	color: #5c5c5c;
	font-weight: 600;
	position: relative;
	cursor: pointer;
}
.container_box .tab_box .ul_box li.lActive:before{
	content: "";
	width: 26px;
	height: 2px;
	background-color: #ff9900;
	position: absolute;
	bottom: -19px;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}

.content_box{
	width: 100%;
	padding-top: 53px;
}
.content_box .content_item{
	display: none;
}
.content_box .content_item {
	
}
.content_box .content_item .left_box{
	width: 100%;
}
.content_box .content_item .left_box p{
	font-size: 16px;
	line-height: 28px;
	color: #5c5c5c;
}
.container_box > div .zj_box{
	width: 319px;
	float: right;
	margin-top: 92px;
	padding-bottom: 82px;
	box-sizing: border-box;
}
.zj_box p{
	font-size: 20px;
	line-height: 18px;
	letter-spacing: 0px;
	color: #333333;
}
.zj_box p:last-child{
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0px;
	color: #5c5c5c;
	margin-top: 10px;
}
.zj_box .head_img{
	width: 184px;
	height: 184px;
	margin: 28px auto 16px;
}
.zj_box .head_img img{
	width: 100%;
}




/* 留言 */
.lmessage{
	width: 100%;
}
.lmessage textarea{
	width: 100%;
	height: 160px;
	background-color: #f6f6f6;
	border-radius: 6px;
	padding: 20px 30px;
	box-sizing: border-box;
	font-size: 16px;
	line-height: 28px;
	color: #bfbfbf;
	resize: none;
}
.lmessage textarea:::-webkit-input-placeholder{
	font-size: 16px;
	color: #bfbfbf;
}
.lm_bottom{
	margin: 20px 0 52px;
}
.lm_left{
	height: 38px;
	line-height: 38px;
	float: left;
}
.lm_left span{
	font-size: 16px;
	color: #bfbfbf;
	vertical-align:middle;
}
.lm_left img{
	margin-left: 5px;
}
.lm_right{
	width: 120px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	background-color: #ff9900;
	border-radius: 6px;
	font-size: 16px;
	color: #ffffff;
	float: right;
	cursor: pointer;
}

.lm_content{
	width: 100%;
}
.lm_content .lm_item{
	width: 100%;
	padding: 0 38px 20px 30px;
	box-sizing: border-box;
	border-bottom: 1px solid #e2e4e5;
	margin-bottom: 30px;
}
.lm_content .lm_item> div{
	float: left;
}
.lm_content .lm_item .left_headerimg{
	width: 50px;
	height: 100%;
}
.lm_content .lm_item .left_headerimg img{
	width: 100%;
	height: 50px;
}
.lm_content .lm_item .right_content{
	margin-left: 23px;
	float: right;
	width: 89%;
}
.lm_content .lm_item .right_content .right_top span{
	font-size: 16px;
	font-weight: 600;
	color: #222222;
	vertical-align:middle;
}
.lm_content .lm_item .right_content .right_middle{
	margin-top: 14px;
}
.lm_content .lm_item .right_content .right_middle p{
	font-size: 14px;
	line-height: 28px;
	color: #5c5c5c;
}

.lm_content .lm_item .right_content .right_middle .right_bottom{
	width: 100%;
	margin-top: 20px;
}
.lm_content .lm_item .right_content .right_middle .right_bottom > div {
	float: left;
}
.lm_content .lm_item .right_content .right_middle .right_bottom .fb_data{
	font-size: 12px;
	color: #999999;
}
.lm_content .lm_item .right_content .right_middle .right_bottom .back_speak{
	float: right;
}
.back_speak span{
	font-size: 12px;
	color: #999999;
	vertical-align:middle;
}

/* .back_speak_box{
	width: 100%;
	border-top: 1px solid #e2e4e5;
} */


.lm_content .lm_item .back_speak_box{
	width: 100%;
	padding: 20px 38px 10px 30px;
	box-sizing: border-box;
	border-top: 1px solid #e2e4e5;
	margin-top: 22px;
	display: none;
}
.lm_content .lm_item .back_speak_box > div{
	float: left;
}
.lm_content .lm_item .back_speak_box .left_headerimg{
	width: 50px;
	height: 100%;
}
.lm_content .lm_item .back_speak_box .left_headerimg img{
	width: 100%;
	height: 50px;
}
.lm_content .lm_item .back_speak_box .right_content{
	margin-left: 23px;
	float: right;
	width: 86%;
}
.lm_content .lm_item .back_speak_box .right_content .right_top span{
	font-size: 16px;
	font-weight: 600;
	color: #222222;
	vertical-align:middle;
}
.lm_content .lm_item .back_speak_box .right_content .right_middle{
	margin-top: 14px;
}
.lm_content .lm_item .back_speak_box .lm_item .right_content .right_middle p{
	font-size: 14px;
	line-height: 28px;
	color: #5c5c5c;
}

.lm_content .lm_item .back_speak_box .right_content .right_middle .right_bottom{
	width: 100%;
	margin-top: 20px;
}
.lm_content .lm_item .back_speak_box .right_content .right_middle .right_bottom > div {
	float: left;
}
.lm_content .lm_item .back_speak_box .right_content .right_middle .right_bottom .fb_data{
	font-size: 12px;
	color: #999999;
}
.lm_content .lm_item .back_speak_box .right_content .right_middle .right_bottom .back_speak{
	float: right;
}
.lm_content .lm_item .back_speak_box .right_content .right_middle .right_bottom .back_speak span{
	font-size: 12px;
	color: #999999;
	vertical-align:middle;
}
.hf_box {
	margin-top: 22px;
}
.hf_box input{
	width: 85%;
	height: 38px;
	background-color: #f6f6f6;
	border-radius: 6px;
	float: left;
	padding-left: 13px;
}
.hf_box .hf_btn{
	float: right;
	width: 60px;
	height: 38px;
	background-color: #ff9900;
	border-radius: 6px;
	font-size: 16px;
	color: #ffffff;
	text-align: center;
	line-height: 38px;
	cursor: pointer;
}


/* 目录 */
.chapter{
	width: 100%;
	padding-left: 50px;
	box-sizing: border-box;
	position: relative;
	margin-bottom: 30px;
	border-bottom: 1px solid #e2e4e5;
}

.chapter_icon{
	display: inline-block;
	width: 22px;
	height: 22px;
	background: url('../images/curr/chapter.png') no-repeat;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 15px;
}
.chapter_title{
	width: 100%;
	height: 42px;
	font-size: 16px;
	line-height: 20px;
	color: #222222;
	border-bottom: 1px solid #e2e4e5;
}
.chapter_ul{

}
.chapter_ul .chapter_item {
	width: 100%;
	height: 50px;
	line-height: 50px;
	float: left;
	padding: 0 30px 0 12px;
	box-sizing: border-box;
	border-bottom: 1px solid #e2e4e5;
}
.chapter_ul .chapter_item:last-child{
	border-bottom: 1px solid transparent;
}
.chapter_ul .chapter_item > div{
	float: left;
}
.chapter_ul .chapter_item .chapter_right_box{
	float: right;
}
.chapter_ul .chapter_item .on_icon{
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url('../images/curr/on.png') no-repeat;
	background-size: cover;
}
.chapter_ul .chapter_item .on_icon.oActive{
	background: url('../images/curr/on_active.png') no-repeat;
}
.chapter_ul .chapter_item span{
	font-size: 16px;
	color: #5c5c5c;
}
.chapter_ul .chapter_item span.sActive{
	color: #ff9900;
}
.time_icon{
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url('../images/curr/time_active.png') no-repeat;
	background-size: cover;
}
.time_icon.tActive{
	background: url('../images/curr/time_active.png') no-repeat;
}