html,body{
	background: #ffffff;
	position: relative;
}
.curriculum_title{
	width: 100%;
	height: 83px;
	font-size: 26px;
	color: #353535;
	opacity: 0.99;
	padding: 32px 10px 0 10px;
	box-sizing: border-box;
	border-bottom: 1px solid #d2d2d3;
}
.curriculum_title .left_box{
	width: 160px;
	float: left;
	display: flex;
	align-items: center;
}
.curriculum_title .left_box .icon_box{
	display: inline-block;
	width: 30px;
	height: 30px;
	background: url('../images/index/curr.png') no-repeat;
	background-size: cover;
	background-position: center;

}
.curriculum_title .left_box .hot_word{
	margin-left: 10px;
}
.forum_box{
	background: #f9f9f9;
}
.forum_top{
	width: 100%;
	height: 75px;
	background-color: #ffffff;
	box-shadow: 0px 5px 10px 0px 
		rgba(0, 0, 0, 0.06);
}
.forum_ul{
	width: 50%;
	height: 100%;
	padding:23px 0 0 10px;
	box-sizing: border-box;
}
.forum_ul li{
	float: left;
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 28px;
	letter-spacing: 0px;
	color: #222222;
	margin-right: 77px;
	position: relative;
	cursor: pointer;
}
.forum_ul li.active:after{
	content: '';
	width: 26px;
	height: 2px;
	background-color: #ff9900;
	position: absolute;
	bottom: -10px;
	left: 50%;
	transform: translateX(-50%);
}

.right_tw{
	float: right;
	width: 120px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	background-color: #ff9900;
	border-radius: 6px;
	margin-top: -30px;
	margin-right: 100px;
	font-size: 16px;
	color: #ffffff;
	cursor: pointer;
}


.forum_content{
	margin-top: 30px;
	padding:0 0 117px 0;
	box-sizing: border-box;
	/* background-color: #ffffff; */
	border-radius: 6px;
}




.forum_item{

}
.forum_item .forum_left{
	float: left;
	width: 70%;
	margin-right: 3%;
	padding: 30px;
	box-sizing: border-box;
	background: #fff;
}
.forum_item .forum_right{
	float: right;
	width: 27%;
}
.forum_item .forum_left .item{
	padding: 30px 0;
	box-sizing: border-box;
	border-bottom: 1px solid #e2e4e5;
}
.forum_item .forum_left .item .item_left{
	float: left;
	width: 71.4%;
}
.forum_item .forum_left .item .item_left .left_title{
	font-size: 16px;
	color: #222222;
	margin-bottom: 18px;
}
.forum_item .forum_left .item .item_left .left_desc{
	font-size: 14px;
	line-height: 28px;
	color: #666666;
	white-space: nowrap; 
    overflow: hidden;
    text-overflow:ellipsis;
}
.forum_item .forum_left .item .item_right{
	float: right;
	width: 15%;
}
.forum_item .forum_left .item .item_right > div{
	float: left;
	font-size: 14px;
	color: #666666;
	text-align: center;
}
.forum_item .forum_left .item .item_right > div:last-child{
	margin-left: 24px;
}
.forum_item .forum_left .item .item_right > div p:last-child{
	margin-top: 20px;
}

.forum_right .forum_posent{
	width: 320px;
	height: 200px;
	background-color: #ffffff;
	border-radius: 10px;
	padding: 20px 60px;
	box-sizing: border-box;
}
.forum_right .forum_posent .p_headImg{
	width: 100%;
	height: 60px;
	border-radius: 50%;
	text-align: center;
}
.forum_right .forum_posent .p_headImg img{
	width: 60px;
	border-radius: 50%;
}
.forum_right .forum_posent .p_name{
	text-align: center;
	margin:10px 0 30px 0;
	font-size: 16px;
	color: #222222; 
}
.forum_right .forum_posent .p_other{

}

.forum_right .forum_posent .p_other > div{
	float: left;
	font-size: 14px;
	color: #666666;
	text-align: center;
}
.forum_right .forum_posent .p_other > div:last-child{
	margin-left: 88px;
}
.forum_right .forum_posent .p_other > div p:last-child{
	margin-top: 20px;
}

.forum_hot{
	width: 320px;
	padding: 22px 20px;
	box-sizing: border-box;
	margin-top: 50px;
	background: #fff;
}
.forum_hot .hot_title{
	font-size: 16px;
	color: #222222;
	margin-bottom: 13px;
}
.forum_hot .hot_ul{

}
.forum_hot .hot_ul .hot_li{
	height: 55px;
	line-height: 55px;
	float: left;
	border-top: 1px solid #e2e4e5;
}
.forum_hot .hot_ul .hot_li:first-child{
	border-top: 1px solid transparent;
}
.forum_hot .hot_ul .hot_li span{
	font-size: 14px;
	color: #222222;
}

.mask_box{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.5);
	display: none;
}
.mask_box .problem_box{
	width: 100%;
	height: 100%;
	position: relative;
}
.mask_box .problem_box .problem{
	width: 540px;
	height: 400px;
	background-color: #ffffff;
	position: absolute;
	top: 325px;
	left: 50%;
	transform: translateX(-50%);
	padding: 30px;
	box-sizing: border-box;
}
.pr_top{
	width: 100%;
	height: 65px;
	line-height: 65px;
}
.pr_top img{
	width: 60px;
	height:60px;
	border-radius: 50%;
}
.pr_top span{
	font-size: 18px;
	color: #999999;
}

.input_box{
	margin-top: 60px;
}
.input_box textarea{
	width: 100%;
	height: 120px;
	padding: 10px;
	box-sizing: border-box;
	resize: none;
}
.input_box textarea:::-webkit-input-placeholder{
	font-size: 16px;
	color: #999999;
}

.pr_bottom{
	margin-top: 35px;
}
.pr_ul{

}
.pr_ul .pr_item{
	float: left;
	margin-right: 54px;
}
.pr_ul .pr_item .select_icon{
	display: inline-block;
	width: 14px;
	height: 14px;
	background: url('../images/select.png') no-repeat;
	background-size: cover;
}
.pr_ul .pr_item .select_icon.select_active{
	width: 14px;
	height: 14px;
	background: url('../images/select_active.png') no-repeat;
	background-size: cover;
}
.pr_ul .pr_item span{
	font-size: 16px;
	color: #999999;
}
.pr_ul .pr_item span.pr_active{
	color: #ff9900;
}

.sub_btn{
	float: right;
	width: 120px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	background-color: #ff9900;
	border-radius: 6px;
	font-size: 16px;
	color: #ffffff;
	cursor: pointer;
}